In [1]:
#importing warnings.

import warnings
warnings.filterwarnings("ignore")

In [2]:
# importing package for sql.
import mysql.connector

In [3]:
#importing useful libraries for analysis.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
# loading first file

df1 = pd.read_excel('games.xlsx')

In [5]:
#checking for number of rows and columns.
df1.shape

(3268, 20)

In [6]:
# before doing null value treatment, it is very important to speak to the client and your higher ups.

In [7]:
#to check null values in columns.
df1.isnull().sum()

game_id                      0
competition_id               0
season                       0
round                        0
date                         0
home_club_goals              0
away_club_goals              0
home_club_position         479
away_club_position         479
home_club_manager_name       5
away_club_manager_name       5
stadium                      0
attendance                 115
referee                      2
home_club_formation       3268
away_club_formation       3268
home_club_name             110
away_club_name              63
aggregate                    0
competition_type             0
dtype: int64

In [8]:
# home_club_formation and away_club_formation columns have 3268 out of 3268 null values.
# we can drop these two columns.

In [9]:
df1=df1.drop("home_club_formation",axis=1)

In [10]:
df1=df1.drop("away_club_formation",axis=1)

In [11]:
df1.shape

(3268, 18)

In [12]:
#the shape has reduced from 20 to 18.

In [13]:
df1.isnull().sum()

game_id                     0
competition_id              0
season                      0
round                       0
date                        0
home_club_goals             0
away_club_goals             0
home_club_position        479
away_club_position        479
home_club_manager_name      5
away_club_manager_name      5
stadium                     0
attendance                115
referee                     2
home_club_name            110
away_club_name             63
aggregate                   0
competition_type            0
dtype: int64

In [14]:
# so now lets check the percentage of null values for each column
# if the the null values are above a certain percentage, we can drop those columns.Because too many null values can disturb our analysis.

nullval=(df1.isnull().sum()/len(df1)*100).sort_values(ascending = False)
nullval.head()

home_club_position    14.657283
away_club_position    14.657283
attendance             3.518972
home_club_name         3.365973
away_club_name         1.927785
dtype: float64

In [15]:
#since the percentage of null values in any column is not greater than 30%, we will not drop any column.

In [16]:
#loading second file

df2 = pd.read_excel('game_events.xlsx')

In [17]:
df2.shape

(1849, 9)

In [18]:
df2.isnull().sum()

game_event_id          0
date                   0
game_id                0
minute                 0
type                   0
player_id              0
description          933
player_in_id         694
player_assist_id    1709
dtype: int64

In [19]:
nullval2=(df2.isnull().sum()/len(df2)*100).sort_values(ascending = False)
nullval2

player_assist_id    92.428340
description         50.459708
player_in_id        37.533802
game_event_id        0.000000
date                 0.000000
game_id              0.000000
minute               0.000000
type                 0.000000
player_id            0.000000
dtype: float64

In [20]:
#we will drop the columns which have above 30% of null values

df2=df2.drop("player_assist_id",axis=1)
df2=df2.drop("description",axis=1)
df2=df2.drop("player_in_id",axis=1)

In [21]:
df2.head()

,game_event_id,date,game_id,minute,type,player_id
0,c6a3c088ed8a38d4ce074dd73b20d3da,2012-08-19,2221641,62,Substitutions,1335
1,02d605a5c2dc4f9a6721daa583fa5405,2012-08-26,2222536,54,Cards,1321
2,b56c2e2e087cddb3cfe9e3d340975df9,2012-11-18,2222707,79,Substitutions,104203
3,4a15d1fff4f476f48bb60092c61641d5,2012-11-23,2222721,72,Substitutions,104203
4,daa97877f7edf2fda885b411d7197921,2013-05-17,2222782,63,Goals,104203

In [22]:
#loading 3rd table.
df3 = pd.read_excel('game_lineups.xlsx')
df3.head()

,game_lineups_id,game_id,type,number,player_id,player_name,team_captain,position
0,f2570d1504fc02f4b6c7608e8dcf89a3,4087925,substitutes,34,242284,Ethan Horvath,0,Goalkeeper
1,f5f0da93ea8e1d8bdd799658e7c8f7cb,4087928,starting_lineup,13,145466,Tim Ream,0,Centre-Back
2,31a4d12ec23d604779d909d26c1b5410,4087929,substitutes,26,578539,Chris Richards,0,Centre-Back
3,776dcbef98651450db76723cb7e3b4df,4087935,substitutes,26,578539,Chris Richards,0,Centre-Back
4,6a35ef7495303f29e7f85dbd54547fb1,4087936,starting_lineup,13,145466,Tim Ream,1,Centre-Back

In [23]:
df3.shape

(219, 8)

In [24]:
df3.isnull().sum()

game_lineups_id    0
game_id            0
type               0
number             0
player_id          0
player_name        0
team_captain       0
position           0
dtype: int64

In [25]:
#loading the 4th data.
df4 = pd.read_excel('appearances.xlsx')
df4.head()

,appearance_id,game_id,player_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2224728_119169,2224728,119169,2012-07-13,Aron Johannsson,DK1,0,0,0,0,90
1,2224732_161244,2224732,161244,2012-07-14,Conor O'Brien,DK1,0,0,1,0,90
2,2224729_39467,2224729,39467,2012-07-15,Clarence Goodson,DK1,0,0,0,0,90
3,2232104_119169,2232104,119169,2012-07-19,Aron Johannsson,ELQ,0,0,0,0,74
4,2219794_39475,2219794,39475,2012-07-22,Sacha Kljestan,BESC,0,0,0,0,3

In [26]:
df4.shape

(3568, 11)

In [27]:
df4.isnull().sum()

appearance_id     0
game_id           0
player_id         0
date              0
player_name       0
competition_id    0
yellow_cards      0
red_cards         0
goals             0
assists           0
minutes_played    0
dtype: int64

In [28]:
#loading 5th data.

df5 = pd.read_excel('players.xlsx')
df5.head()

,player_id,name,last_season,current_club_id,player_code,country_of_birth,date_of_birth,sub_position,position,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name
0,124732,John Anthony Brooks,2023,533,john-anthony-brooks,Germany,1993-01-28,Centre-Back,Defender,left,194.0,2000000.0,15000000.0,2024-06-30,ROGON
1,223047,Emerson Hyndman,2018,903,emerson-hyndman,United States,1996-04-09,Central Midfield,Midfield,right,170.0,800000.0,1800000.0,NaT,OmniSports
2,307781,Lynden Gooch,2016,289,lynden-gooch,United States,1995-12-24,Right Winger,Attack,right,173.0,1000000.0,1000000.0,2024-06-30,Unique Sports Group
3,370846,Timothy Weah,2023,506,timothy-weah,United States,2000-02-22,Right Midfield,Midfield,right,183.0,14000000.0,15000000.0,2028-06-30,BS Group - BS Law
4,484756,Djordje Mihailovic,2023,1090,djordje-mihailovic,United States,1998-11-10,Attacking Midfield,Midfield,NaN,178.0,5000000.0,6000000.0,2026-06-30,YMU Management Ltd.

In [29]:
df5.shape

(152, 15)

In [30]:
df5.isnull().sum()

player_id                       0
name                            0
last_season                     0
current_club_id                 0
player_code                     0
country_of_birth                0
date_of_birth                   0
sub_position                    0
position                        0
foot                           11
height_in_cm                    3
market_value_in_eur            38
highest_market_value_in_eur     4
contract_expiration_date       46
agent_name                     45
dtype: int64

In [31]:
nullval5=(df5.isnull().sum()/len(df5)*100).sort_values(ascending = False)
nullval5

contract_expiration_date       30.263158
agent_name                     29.605263
market_value_in_eur            25.000000
foot                            7.236842
highest_market_value_in_eur     2.631579
height_in_cm                    1.973684
player_id                       0.000000
name                            0.000000
last_season                     0.000000
current_club_id                 0.000000
player_code                     0.000000
country_of_birth                0.000000
date_of_birth                   0.000000
sub_position                    0.000000
position                        0.000000
dtype: float64

In [32]:
df5=df5.drop("contract_expiration_date",axis=1)

In [33]:
df5.shape

(152, 14)

In [34]:
df5=df5.drop("agent_name",axis=1)

In [35]:
df5.shape

(152, 13)

In [36]:
df5.isnull().sum()

player_id                       0
name                            0
last_season                     0
current_club_id                 0
player_code                     0
country_of_birth                0
date_of_birth                   0
sub_position                    0
position                        0
foot                           11
height_in_cm                    3
market_value_in_eur            38
highest_market_value_in_eur     4
dtype: int64

In [37]:
df5['market_value_in_eur'].fillna(df5['market_value_in_eur'].mean(), inplace=True)

In [38]:
df5.isnull().sum()

player_id                       0
name                            0
last_season                     0
current_club_id                 0
player_code                     0
country_of_birth                0
date_of_birth                   0
sub_position                    0
position                        0
foot                           11
height_in_cm                    3
market_value_in_eur             0
highest_market_value_in_eur     4
dtype: int64

In [39]:
# Merging the DataFrames using the merge() function

df = pd.merge(df1, df2, on='game_id',how="outer")
df = pd.merge(df, df3, on='game_id',how="outer")
df = pd.merge(df, df4, on='game_id',how="outer")
df = pd.merge(df, df5, on='player_id',how="outer")

In [40]:
df.head()

,game_id,competition_id_x,season,round,date_x,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,...,current_club_id,player_code,country_of_birth,date_of_birth,sub_position,position_y,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur
0,2222734.0,RU1,2012.0,19. Matchday,2012-12-07,2.0,3.0,11.0,10.0,Miodrag Bozovic,...,6992.0,eugene-starikov,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,3.694298e+06,500000.0
1,2598832.0,UKR1,2015.0,9. Matchday,2015-09-27,0.0,0.0,11.0,5.0,Oleksandr Babych,...,6992.0,eugene-starikov,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,3.694298e+06,500000.0
2,2222798.0,RU1,2012.0,24. Matchday,2013-04-14,1.0,1.0,4.0,11.0,Kurban Berdyev,...,6992.0,eugene-starikov,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,3.694298e+06,500000.0
3,2619433.0,UKRP,2015.0,last 16 1st leg,2015-09-23,0.0,1.0,NaN,NaN,Oleksandr Babych,...,6992.0,eugene-starikov,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,3.694298e+06,500000.0
4,2598841.0,UKR1,2015.0,10. Matchday,2015-10-03,2.0,0.0,2.0,11.0,Mircea Lucescu,...,6992.0,eugene-starikov,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,3.694298e+06,500000.0

In [41]:
df.shape

(4746, 52)

In [42]:
df.columns

Index(['game_id', 'competition_id_x', 'season', 'round', 'date_x',
       'home_club_goals', 'away_club_goals', 'home_club_position',
       'away_club_position', 'home_club_manager_name',
       'away_club_manager_name', 'stadium', 'attendance', 'referee',
       'home_club_name', 'away_club_name', 'aggregate', 'competition_type',
       'game_event_id', 'date_y', 'minute', 'type_x', 'player_id_x',
       'game_lineups_id', 'type_y', 'number', 'player_id_y', 'player_name_x',
       'team_captain', 'position_x', 'appearance_id', 'player_id', 'date',
       'player_name_y', 'competition_id_y', 'yellow_cards', 'red_cards',
       'goals', 'assists', 'minutes_played', 'name', 'last_season',
       'current_club_id', 'player_code', 'country_of_birth', 'date_of_birth',
       'sub_position', 'position_y', 'foot', 'height_in_cm',
       'market_value_in_eur', 'highest_market_value_in_eur'],
      dtype='object')

In [46]:
df.head()

,game_id,competition_id_x,season,round,date_x,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,...,current_club_id,player_code,country_of_birth,date_of_birth,sub_position,position_y,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur
0,2222734.0,RU1,2012.0,19. Matchday,2012-12-07,2.0,3.0,11.0,10.0,Miodrag Bozovic,...,6992.0,eugene-starikov,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,3.694298e+06,500000.0
1,2598832.0,UKR1,2015.0,9. Matchday,2015-09-27,0.0,0.0,11.0,5.0,Oleksandr Babych,...,6992.0,eugene-starikov,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,3.694298e+06,500000.0
2,2222798.0,RU1,2012.0,24. Matchday,2013-04-14,1.0,1.0,4.0,11.0,Kurban Berdyev,...,6992.0,eugene-starikov,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,3.694298e+06,500000.0
3,2619433.0,UKRP,2015.0,last 16 1st leg,2015-09-23,0.0,1.0,NaN,NaN,Oleksandr Babych,...,6992.0,eugene-starikov,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,3.694298e+06,500000.0
4,2598841.0,UKR1,2015.0,10. Matchday,2015-10-03,2.0,0.0,2.0,11.0,Mircea Lucescu,...,6992.0,eugene-starikov,UdSSR,1988-11-17,Centre-Forward,Attack,right,175.0,3.694298e+06,500000.0

In [48]:
import mysql.connector
import pandas as pd

# MySQL server details
host = 'localhost'
user = 'root'
password = 'amaan'
database_name = 'footballdb'

# Establish connection to MySQL
conn = mysql.connector.connect(host=host, user=user, password=password)
cursor = conn.cursor()

# Create database if it doesn't exist
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
cursor.execute(f"USE {database_name}")

cursor.close()
conn.close()

In [50]:
from sqlalchemy import create_engine

# Replace 'your_table with the desired tabte name
cleandf = 'cleandf'

# Connect to MySQL using SQLALchemy
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database_name}')

# Export DataFrame to MySQL
df.to_sql(name=cleandf, con=engine, if_exists='replace', index=False)

4746

In [53]:
df.to_csv(r'DOWNLOADS\Capstone.csv')

In [52]:
df.to_excel(r'DOWNLOADS\Capstone.xlsx', index=False)